* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.ta-center {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

a {
    font-size: 16px;
    color: aquamarine;
}

video {
    object-fit: contain;
}

.tar {
    text-align: right;
} 